
.header{
    border: 1px solid black;
    padding: 15px;
    background: rgb(62, 117, 62);
    color: white;
}


.link{
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-right: 5px;
}