.paginator{
    width: 260px;
    margin: 0 auto;
    display: flex;
    padding: 5px;
}

.pages{
    flex-grow: 1;
    display: flex;
}
.left{
    flex-grow: 0;
}

.right{
    flex-grow: 0;
}

.page{
    border: 1px solid rgb(240, 238, 238);
    width: 10px;
    padding: 8px;
    cursor: pointer;
    width: 20px;
}